<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>p5+node+socket</title>

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/css/console.css" />

  <!-- libraries -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/addons/p5.sound.min.js"></script>

  <!--     <script src="/js/console.js"></script> -->
</head>

<body>
  <h1>Console</h1>
  <button onclick="openNewWindow()">Open New Window</button>


  <script>
    function openNewWindow() {
      const newWindow = window.open("page.html", "_blank", "width=400,height=457");
      console.log(newWindow.screen.width, newWindow.screen.height);
      newWindow.moveTo(Math.floor(Math.random() * newWindow.screen.width),
        Math.floor(Math.random() * newWindow.screen.height));
    }
  </script>
</body>

</html>